<div class="page-content">
    <div class="row">
        <div class="container account-info">
            <h3 class="checkout-sep">THÔNG TIN TÀI KHOẢN</h3>
            <form action="" id="form-account" name="formAccount">
                <div class="form-group" >
                    <label>Họ <small>(*)</small></label>
                    <input type="text" name="full_name" class="form-control" ng-model="vm.settingsAccount.first_name" required>
                </div>
                <div class="form-group" >
                    <label>Tên <small>(*)</small></label>
                    <input type="text" name="name_of_drugstore" class="form-control" ng-model="vm.settingsAccount.last_name" required>
                </div>
                <div class="form-group" >
                    <label>Tên nhà thuốc <small>(*)</small></label>
                    <input type="text" name="name_of_drugstore" class="form-control" ng-model="vm.settingsAccount.company" required>
                </div>
                <div class="form-group">
                    <label>Email <small>(*)</small></label>
                    <input type="text" name="email" class="form-control" ng-model="vm.settingsAccount.email" disabled>
                </div>
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input type="text" name="phone" class="form-control" ng-model="vm.settingsAccount.phone">
                </div>

                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" name="address" class="form-control" ng-model="vm.settingsAccount.address">
                </div>

                <div class="form-group" >
                    <label>Mật khẩu cũ (bỏ trống nếu không thay đổi)</label>
                    <input type="password" name="old_password" class="form-control" ng-model="vm.settingsAccount.password" ng-required="vm.settingsAccount.password">
                </div>

                <div class="form-group">
                    <label>Mật khẩu mới (bỏ trống nếu không thay đổi)</label>
                    <input type="password" name="password" class="form-control" ng-model="vm.settingsAccount.password_new">
                </div>

                <div class="form-group" >
                    <label>Nhập lại mật khẩu mới (bỏ trống nếu không thay đổi)</label>
                    <input type="password" name="password_confirmation" class="form-control"  ng-model="vm.settingsAccount.password_confirm" ng-required="vm.settingsAccount.password_new">
                    <label class="control-label" ng-show="vm.settingsAccount.password_new && !vm.settingsAccount.password_confirm">
                        Mời xác nhận mật khẩu
                    </label>
                    <label class="control-label" ng-show="vm.settingsAccount.password_new != vm.settingsAccount.password_confirm">
                        Mật khẩu xác nhận chưa chính xác
                    </label>
                </div>

                <!-- ngRepeat: error in errors -->
                <div class="clearfix"></div>
            </form>
            <div class="form-group">
                <button class="btn btn-success pull-right" ng-click="vm.save()" ng-disabled="formAccount.$invalid && (vm.settingsAccount.password_new != vm.settingsAccount.password_confirm)">
                    <span><i class="fa fa-pencil-square-o"></i> Cập nhật </span>
                </button>
                <div class="clearfix"></div>
            </div>


            <h3 class="checkout-sep" style="margin-top: 20px;">Danh sách đơn hàng</h3>
            <div class="box-border woocommerce" style="margin-bottom: 20px;">
                <table class="table table-bodered shop_table shop_table_responsive my_account_orders">
                    <thead>
                        <tr style="line-height: 35px; padding: 5px 10px;">
                            <th class="order-number"><span class="nobr">Đơn hàng</span></th>
                            <th class="order-date"><span class="nobr">Ngày</span></th>
                            <th class="order-status"><span class="nobr">Tình trạng</span></th>
                            <th class="order-total"><span class="nobr">Tổng cộng</span></th>
                            <th class="order-actions"><span class="nobr">&nbsp;</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="order" style="line-height: 35px;" ng-repeat="order in vm.lstOrder track by $index">
                            <td class="order-number" data-title="Đơn hàng">
                                #{{order.id}}
                            </td>
                            <td class="order-date" data-title="Ngày">
                                {{order.date}}
                            </td>
                            <td class="order-status" data-title="Tình trạng">
                                {{order.status}}
                            </td>
                            <td class="order-total" data-title="Tổng số tiền">
                                <span class="amount">{{order.total | number:0}} ₫</span>
                            </td>
                            <td class="order-actions" data-title="&nbsp;">
                                <a ui-sref="order-detail({nameCatalog : 'Chi tiết đơn hàng', id: order.id})" class="btn btn-success">Xem</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>