<footer id="footer">
    <div class="container">
        <!-- introduce-box -->
        <div id="introduce-box" class="row">
            <div class="col-md-3">
                <div id="address-box">
                    <a ui-sref="home"><img src="content/images/logo-tet.jpg" alt="logo"></a>
                    <div id="address-list">
                        <div class="tit-name">Địa chỉ:</div>
                        <div class="tit-contain">Quầy 441 tầng 4, TT Hapulico số 1 Nguỵ Như Kon Tum, Thanh Xuân, Hà Nội</div>
                        <div class="tit-name">SĐT:</div>
                        <div class="tit-contain">0963744567</div>
                        <div class="tit-name">Email:</div>
                        <div class="tit-contain">nhathuochathanh@gmail.com</div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="introduce-title">Công ty</div>
                        <ul id="introduce-Account" class="introduce-list">
                            <li><a ui-sref="home">Về
                                    chúng tôi</a></li>
                            <li><a ui-sref="home">Điều khoản</a></li>
                            <li><a ui-sref="home">Liên hệ</a></li>

                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="introduce-title">Tài khoản</div>
                        <ul id="introduce-Account" class="introduce-list">
                            <li><a ui-sref="register">Đăng kí</a></li>
                            <li><a href="javascript:void(0)" ng-click="vm.login()">Đăng nhập</a></li>
                            <li><a ui-sref="thanh-toan({nameCatalog : 'Thanh toán'})">Giỏ hàng</a></li>

                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="introduce-title">Hỗ trợ</div>
                        <ul id="introduce-Account" class="introduce-list">
                            <li><a ui-sref="home">Trợ giúp</a></li>
                            <li><a ui-sref="home">Thanh toán</a></li>
                            <li><a ui-sref="home">Hướng dẫn đăng ký tài khoản</a></li>

                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <!-- /input-group -->
                        <div class="introduce-title">Cộng đồng</div>
                        <div class="social-link">
                            <a href="https://www.facebook.com/duocphamhathanh.vn"><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#introduce-box -->
        <div id="footer-menu-box">
            <p class="text-center">Copyrights © 2018</p>
        </div>
        <!-- /#footer-menu-box -->
    </div>
</footer>