<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="title"><i class="fa fa-usd"></i>Cam kết giá tốt</h3>
                    <p>Chúng tôi cam kết luôn cung cấp các sản phẩm giá tốt nhất trên thị trường cho khách hàng, kèm
                        theo các ưu đãi và khuyến mại thường xuyên!</p>
                </div>
                <div class="col-md-4">
                    <h3 class="title"><i class="fa fa-truck"></i>Giao hàng tận nơi</h3>
                    <p>Khách hàng luôn nhận được hàng tại đúng địa điểm và thời gian yêu cầu mà không tốn thời gian quản
                        lý xe hàng, giúp tiết kiệm chi phí và công sức!</p>
                </div>
                <div class="col-md-4">
                    <h3 class="title"><i class="fa fa-phone"></i>Hỗ trợ chi tiết</h3>
                    <p>Chúng tôi luôn sẵn sàng hỗ trợ khách hàng hết mình trong mọi khâu của công việc, đảm bảo khách
                        hàng luôn hài lòng với chất lượng dịch vụ!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright"> @2015 <a href="#" title="Giá thuốc Hapu"
                            rel="home">Giá thuốc Hapu</a> - Giá tốt, giao nhanh, UY VŨ </div>
                    <small><strong>CÔNG TY CỔ PHẦN THƯƠNG MẠI DƯỢC VƯƠNG</strong><br>
                        Trụ sở: Số 62 ngõ 6 đường Vũ Trọng Phụng, phường Thanh Xuân Trung, quận Thanh Xuân, Hà Nội.<br>
                        Showroom: Quầy 435, Chợ thuốc Hapulico, số 85 Vũ Trọng Phụng, Thanh Xuân, Hà Nội<br>
                        Tên người đại diện: Ông Vũ Mạnh Thắng<br>
                        Số giấy chứng nhận đăng ký kinh doanh: 0105 950 400 - Ngày cấp: 23/07/2012 - Nơi cấp: Sở
                        KH&amp;ĐT TP. Hà Nội<br>
                        Số giấy chứng nhận đủ điều kiện kinh doanh thuốc: 01-0780/HNO-ĐKKDD - Ngày cấp: 04/09/2015 - Nơi
                        cấp: Sở y tế Tp. Hà Nội<br>
                        Hotline:0246.6886.555, 0965.82.2992 hoặc 083.357.6868 - Email: giathuochapu@gmail.com
                    </small>
                </div>
                <div class="col-md-4">
                    <a class="thong-bao"
                        href="#"><img
                            src="https://i.imgur.com/mrgycRP.png" alt="thong-bao"></a>
                    <a class="contact-facebook" href="#">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="text">Kết nối với chúng tôi: </span>
                    </a>
                    <a class="contact-facebook" href="#"
                        style="font-size: 11px;">
                        <span class="text">Tham gia nhóm Chăm sóc Khách hàng của Giá Thuốc Hapu tại đây</span>
                    </a>
                    <div class="" style="text-align: right;float: right;margin-top: 10px;">Developed by <a
                            href="#">eLightUp</a><a href="#"><img
                                style="vertical-align: middle; margin-left: 5px;" src="https://i.imgur.com/AsxqkjZ.png"
                                alt="wordpress custom fields" width="12" height="12"></a>.</div>
                </div>
            </div>
        </div>
    </div>
</footer>